name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main
      - dev

permissions:
  checks: write
  contents: read
  pull-requests: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install & Build
        run: npm ci && npm run build

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_ECHO_V2_5B53F }}
          projectId: echo-v2-5b53f
          
          # THE LOGIC:
          # If branch is 'main' -> deploy to 'live' (Production)
          # If branch is 'dev'  -> deploy to 'dev'  (Permanent Dev Channel)
          channelId: ${{ github.ref_name == 'main' && 'live' || 'dev' }}